/* Main Style 
   ========================================================================== */


/* 
 * General styles 
 */

body {
	margin: 0px 0px 0px 0px;
	border: 1px black;
}

p {
	font-family: "Roboto Slab", serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	color: #666;
}

a {
	font-family: "Roboto Slab", serif;
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #808080;
}

aside {
	color: #938d8d;
	font-family: 'Roboto Slab', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #d6d6d6;
}

section:first-child {
	border-top: none;
	padding-top: 0;
}

img {
	max-width: 100%;
}

/* Headings */

h1 {
	margin-top: 0;
	font-family: "Montserrat", cursive;
	line-height: 1.25em;
	color: black;
	text-align: center;
}

h2 {
	font-family: 'Montserrat', serif;
	margin-bottom: 0.2em;
	margin-top: 0;
	color: black;
	color: #333;
}

h3 {
	font-family: 'Montserrat', serif;
	margin-top: 0;
	margin-bottom: 0;
}

.break {
	padding: 0;
	margin: 0 auto;
	width: 88px;
	height: 2px;
	background-color: black;
	margin-bottom: 10px;
}


/*
 * Font Awesome Icon Colors
 */

i.fa-green {
	color: #3CB371;
}

i.fa-blue {
	color: black;
}

i.fa-grey {
	color: #43464B;
}


/*
 * Buttons
 */

/* General Buttons
 * r: 0.69523809523
 * g: 0.69849246231
 * b: 0.69565217391 */

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

/* Button Colors */

.btn-blue {
	background-color: #4a95ba;
	border-color: rgba(51, 104, 129, 1)
}

.btn-dis {
	background-color: rgb(192, 192, 192);
	border-color: rgb(133, 134, 134);
}

.btn-dis:hover {
	cursor: not-allowed;
	opacity: 1;
}

/* Scroll to top button */

.btn-scrollToTop {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	position: fixed;
	font-size: 12px;
	text-transform: none;
	padding: 5px;
	border-radius: 3px;
	top: 94vh;
	right: 1vw;
	text-decoration: none;
}

/* Better Underlines */

.uled {
  color: inherit;
  color: transparent;
  text-shadow: 0 0 #333, .08em 0 0 #fff, 0 0, -.08em 0 0 #fff;
  background: -webkit-linear-gradient(#999, #999) center 1.09em no-repeat;
  background: linear-gradient(#999, #999) center 1.09em no-repeat;
  background-size: 85% 1px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.uled:hover {
  /*  backgrounds won't size larger than 100%  */
  background-size: 95% 1px;
  cursor: default;
}


/* 
 * Frontpage
 */

 #frontpage {
	-webkit-height: 100vh;
    -moz-height: 100vh;
    -ms-height: 100vh;
    -o-height: 100vh;
    height: 100vh;

	padding: 0;
	margin: 0;
	background: url('../img/frontpage.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	z-index: 0;
}

.fptext {
	color: black;
	margin: 0;
	text-align: center;
	z-index: 6;
	position: relative;
	-webkit-top: 45vh;
    -moz-top: 45vh;
    -ms-top: 45vh;
    -o-top: 45vh;
    top: 45vh;
	margin: 0;
	padding: 0;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
	text-decoration: none;
	font-size: 48px;
	text-transform: uppercase;
}

.subtitle {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin-top: 0px;
	font-size: 24px;
	color: #333;
}


/*
 * Main Part
 */

/* About Me */

#aboutme {
	text-align: center;
}

/* Portfolio */

#portfolio {
	text-align: center;
	background-color: #f2f2f2;
}

/* Contact */

#contact {
}

/*
 * Footer
 */

 /* General Footer Styling */

#footer {
	background: #f0f0f0;
	color: #000;
	padding-top: 1.5em;
	padding-bottom: 0;
}

.end {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	transition: all 0.2s ease-in;
}

.end ul {
	-webkit-padding-start: 0px;
	padding-left: 0px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 1em;
}

.end ul li {
	display: inline;
	font-size: 75%;
	padding-right: 5px;
}

#imp {
	margin-bottom: 0;
}

/* Social Buttons */

.fa-hover {
	transition: all 0.1s ease-in;
}

.fa-envelope:hover {
	color: #000;
}

.fa-facebook:hover {
	color: #3B5998;
}

.fa-twitter:hover {
	color: #4099FF;
}

.fa-google-plus:hover {
	color: #dd4b39;
}

.fa-github:hover {
	color: #000;
}

.fa-gavel:hover {
	color: #000;
}

/* Loading animation */

#loader { 
    display: block; 
    position: absolute;
    width: 15%;
    max-width: 128px;

    -webkit-left: calc(50% - 64px);
    -moz-left: calc(50% - 64px);
    -ms-left: calc(50% - 64px);
    -o-left: calc(50% - 64px);
    left: calc(50% - 64px); 

    -webkit-top: calc(50% - 64px);
    -moz-top: calc(50% - 64px);
    -ms-top: calc(50% - 64px);
    -o-top: calc(50% - 64px);
    top: calc(50% - 64px); 
    z-index: 1000;
}

.loading {
	position: absolute; 
    z-index: 100;

    -webkit-height: 100%;
    -moz-height: 100%;
    -ms-height: 100%;
    -o-height: 100%;
    height: 100%;

	-webkit-width: 100%;
	-moz-width: 100%;
	-ms-width: 100%;
	-o-width: 100%;
	width: 100%;

    background-color: #f2f2f2;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 480px) {
/* Styles */
	#loader { 
		-webkit-left: calc(50% - 25px);
    	-moz-left: calc(50% - 25px);
	    -ms-left: calc(50% - 25px);
	    -o-left: calc(50% - 25px);
	    left: calc(50% - 25px); 

	    -webkit-top: calc(50% - 25px);
	    -moz-top: calc(50% - 25px);
	    -ms-top: calc(50% - 25px);
	    -o-top: calc(50% - 25px);
	    top: calc(50% - 25px); 
	}
}