/* Main Style 
   ========================================================================== */


/* 
 * General styles 
 */


body {
	margin: 0px 0px 0px 0px;
	border: 1px black;
}

p {
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	text-align: justify;
	padding-top: 0px;
	margin-top: 0px;
}

a {
	font-family: "Roboto Slab", serif;
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #808080;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', serif;
	margin-bottom: 0;
	color: #193441;
}

h1 {
	margin-bottom: 0;
	margin-top: 0;
}

h2 {
	margin-bottom: 0;
	margin-top: 0;
}

/* 
 * Classes and IDs
 */

i.fa-green {
	color: #3CB371;
}

i.fa-blue {
	color: #193441;
}

i.fa-grey {
	color: #43464B;
}

.scrollToTop {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	color: #444;
	position: fixed;
	font-size: 12px;
	text-transform: none;
	border: 2px solid rgba(0, 0, 0, .7);
	padding: 5px;
	border-radius: 3px;
	color: rgba(0, 0, 0, .7);
	top: 90vh;
	right: 1vw;
	text-decoration: none;
}

.scrollToTop:hover {
	border: 2px solid rgba(0, 0, 0, 1);
	color: rgba(0, 0, 0, 1);
}

.fptext {
	color: #193441;
	margin: 0;
	text-align: center;
	z-index: 6;
	position: relative;
	top: 50vh;
	margin: 0;
	padding: 0;
}

#frontpage {
	height: 100vh;
	padding: 0;
	margin: 0;
	/*background-color: #D1DBBD;*/
	background: url('../img/frontpage.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*background:
  	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;*/
	z-index: 0;
}

#aboutme {
	text-align: center;
	padding-top: 2vh;
	background-color: #f2f2f2;
	border-bottom: 1px solid #d6d6d6;
	border-top: 1px solid #d6d6d6;
}

#portfolio {
	text-align: center;
	border-bottom: 1px solid #d6d6d6;
}

.grid-95 {
}

aside {
	color: #938d8d;
	font-family: 'Roboto Slab', sans-serif;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
}

body:nth-child(odd) {
	background: #f0f0f0;
}

.cap {
	text-transform: capitalize;
}

.break {
	padding: 0;
	margin: 0 auto;
	width: 88px;
	height: 2px;
	background-color: #193441;
	left: ;
	margin-bottom: 0.25em;
}

/* Button */

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="submit"].btn,
button.btn {
	cursor: pointer;
}

a.btn,.btn {
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: "Roboto Slab", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.btn-radius {
  border-radius: 3px;
}
/* Sizes */
.btn-small {
	font-size: 0.8125em;
	padding: 0.4125em 1.25em;
}
.btn-medium {
	font-size: 0.9375em;
	padding: 0.5375em 1.375em;
}
.btn-large {
	font-size: 1.0625em;
	padding: 0.5625em 1.5em;
}

/* Colors */
.btn-grey {
	color: #91AA9D;
	border-color: #91AA9D;
}
.btn-grey:hover {
  background: #91AA9D;
  color: #fff;
  border-color: #91AA9D;		
}

.btn-green {
	color: #4a95ba;
	border-color: #4a95ba;
}

.btn-green:hover {
	background: #4a95ba;
	color: #fff;
	border-color: #4a95ba;
}

/* Capitalization */
.btn-cap {
	text-transform: uppercase;
}

/* Button Disabled */
.btn-dis {
	cursor: wait;
}

.btn-dis:hover {
	background: transparent;
	color: #91AA9D;
}

/* Image at the top */

.circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#img {
	max-width: 100%;
	border-radius: 100px;
}

/* Title and Subtitle */

.title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
	text-decoration: none;
	font-size: 48px;
}

.subtitle {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin-top: 0px;
	font-size: 24px;
}


/* Footer */

#footer {
	background-color: #000;
	color: #fff;
}

.end {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.end ul {
	-webkit-padding-start: 0px;
	padding-left: 0px;
	margin-bottom: 0;
}

.end ul li {
	display: inline;
	font-size: 75%;
}