/* Main Style 
   ========================================================================== */


/* 
 * General styles 
 */


body {
	margin: 0px 0px 0px 0px;
	border: 1px black;
}

p {
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	text-align: justify;
	padding-top: 0px;
	margin-top: 0px;
}

a {
	font-family: "Roboto Slab", serif;
	text-transform: uppercase;
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #808080;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', serif;
	margin-bottom: 0;
}

h1 {
	margin-bottom: 0;
	margin-top: 0;
}

/* 
 * Classes and IDs
 */

.scrollToTop {
	width: 100px;
	height: 20px;
	text-align: center;
	font-weight: bold;
	color: #444;
	position: fixed;
	font-size: 12px;
	text-transform: none;
	border: 2px solid rgba(0, 0, 0, .7);
	padding: 5px;
	border-radius: 3px;
	color: rgba(0, 0, 0, .7);
	top: 90vh;
	right: 1vw;
	text-decoration: none;
}

.scrollToTop:hover {
	border: 2px solid rgba(0, 0, 0, 1);
	color: rgba(0, 0, 0, 1);
}

.fptext {
	color: #000;
	margin: 0;
	text-align: center;
	z-index: 6;
	position: relative;
	top: 50vh;
	margin: 0;
	padding: 0;
}

#frontpage {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-image: url('../img/frontpage.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	font-family: 'Oswald';
	z-index: 0;
}

#aboutme {
	text-align: center;
	padding-top: 2vh;
}

.cap {
	text-transform: capitalize;
}

.item {
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	max-width: 660px;
	margin-left: auto;
	margin-right: auto;
}

.break {
	padding: 0;
	margin: 0 auto;
	width: 88px;
	height: 2px;
	background-color: #000;
	left: ;
}

/* Button */

.btn {
	text-decoration: none;
	text-transform: none;
	border: 2px solid rgba(0, 0, 0, .7);
	padding: 5px;
	border-radius: 3px;
	color: rgba(0, 0, 0, .7);
	top: 90vh;
	font-size: 18px;
}

.btn:hover {
	border: 2px solid rgba(0, 0, 0, 1);
	color: rgba(0, 0, 0, 1);
}


/* Image at the top */

.circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#img {
	max-width: 100%;
	border-radius: 100px;
}

/* Title and Subtitle */

.title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
	text-decoration: none;
	font-size: 48px;
}

.subtitle {
	font-family: 'Roboto Slab', serif;
	margin-top: 0px;
	font-size: 24px;
}


/* Footer */

#footer {
	background-color: #000;
	color: #fff;
}

.end {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.end ul {
	-webkit-padding-start: 0px;
	padding-left: 0px;
	margin-bottom: 0;
}

.end ul li {
	display: inline;
	font-size: 75%;
}